<form action="/restaurants/{{ restaurant._id }}/edit" method="POST">
  <h1 class="restaurant-show-title">修改 {{restaurant.name}} 的資訊</h1>
  <div class="container mb-md-5">
    <div class="row">
      <div class="col-12 col-md-10 col-lg-8 mx-auto">

        <div class="mb-2 d-flex">
          <div class="text-secondary text-center">
            餐廳名稱：
          </div>
          <div class="flex-grow-1">
            <input class="w-100" type="text" placeholder="name" name="name" value="{{restaurant.name}}">
          </div>
        </div>

        <div class="mb-2 d-flex">
          <div class="text-secondary text-center">
            餐廳類別：
          </div>
          <div class="flex-grow-1">
            <input class="w-100" type="text" placeholder="category" name="category" value="{{restaurant.category}}">
          </div>
        </div>

        <div class="mb-2 d-flex">
          <div class="text-secondary text-center">
            餐廳地址：
          </div>
          <div class="flex-grow-1">
            <input class="w-100" type="text" placeholder="location" name="location" value="{{restaurant.location}}">
          </div>
        </div>

        <div class="mb-2 d-flex">
          <div class="text-secondary text-center">
            地址連結：
          </div>
          <div class="flex-grow-1">
            <input class="w-100" type="text" placeholder="google_map" name="google_map" value="{{restaurant.google_map}}">
          </div>
        </div>

        <div class="mb-2 d-flex">
          <div class="text-secondary text-center">
            餐廳電話：
          </div>
          <div class="flex-grow-1">
            <input class="w-100" type="text" placeholder="phone" name="phone" value="{{restaurant.phone}}">
          </div>
        </div>

        <div class="mb-2 d-flex">
          <div class="text-secondary text-center">
            餐廳描述：
          </div>
          <div class="flex-grow-1">
            <textarea class="w-100" placeholder="description" name="description">{{restaurant.description}}</textarea>
          </div>
        </div>

        <div class="mb-5 d-flex">
          <div class="text-secondary text-center">
            餐廳照片：
          </div>
          <div class="flex-grow-1">
            <input class="w-100" type="text" placeholder="imageUrl" name="image" value="{{restaurant.image}}">
          </div>
        </div>
        <img class="rounded mx-auto d-block mb-4 w-100" src="{{restaurant.image}}" alt="{{restaurant.name}}" style="max-width: 600px;">
        <div class="mt-5 button-wrapper row justify-content-center">
          <button type="submit" class="col-12 btn btn-secondary">Update</button>
          <a href="/" class="my-3 text-secondary">返回首頁</a>
        </div>
      </div>
    </div>
  </div>
</form>